{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>resume</title>
        <link rel="icon" type="image/x-icon" href="{% static 'portfolio/img/favicon.ico' %}" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link href="{% static 'portfolio/css/resumestyles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Amos Njoroge Kairu</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'portfolio/img/team/amos.jpg' %}" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% static 'portfolio/Amos_Njoroge_Resume.pdf' %}" download>Download Resume</a></li>
                    <li class="d-none nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Amos
                        <span class="text-primary">Njoroge Kairu</span>
                    </h1>
                    <div class="subheading mb-5">
                        Kahawa West· Nairobi, Kenya (254) 720-090-889·
                        <a href="mailto:njorogekairu99@gmail.com">njorogekairu99@gmail.com</a>
                    </div>
                    <p class="lead mb-5">
                        <h3>summary</h3>
                        <ul>
                            <li>Experience professional with 3+ years in leadership</li>
                            <li>Successfully increased savings group membership by 80% in 8 months</li>
                            <li>Graduated from a comprehensive software engineering programme at ALX, gaining expertise in various programming languages
                                and modern development frameworks.</li>
                            <li>Accepted into a prestigious mentorship program with a 23% acceptance rate.</li>
                            <li>Demonstrated ability to build robust applications, including a chama management platform (chamaZetu) with integrated Mpesa
                                payment solutions.</li>
                        </ul>
                         </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/amos-njoroge-kairu-a55558188/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/mankindjnr"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/njorogeAmos94"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Lead</h3>
                            <div class="subheading mb-3">Let'sGoBig - Nairobi, Kenya</div>
                            <ul>
                                <li>Created and led a savings group focusing on young people's long-term savings</li>
                                <li>Increased the number of members from five to nine in our third cohort.</li>
                                <li>Introduced REITs investment in our fourth cohort, strengthening the group's financial stability and long-term wealth
                                    accumulation.</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2020 - Present</span></div>
                    </div>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education and Development</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Kenya Methodist University</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer Information systems</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2018 - April 2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">AlX Africa</h3>
                            <div class="subheading mb-3">AI Career Essentials</div>
                            <li>Completed an 8-week programme in AI Augmented Professional Development Skills in the Digital Age.</li>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marck 2024 - April 2024</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">AlX Africa</h3>
                            <div class="subheading mb-3">Software Engineering</div>
                            <li>Completed a comprehensive software engineering curriculum at ALX, a leading online program based in Africa, known for its
                                state-of-the-art technical training.</li>
                            <li>Gained a deep understanding of various programming languages, methodologies used in software development, and
                                industry-standard tools.</li>
                            <li>Acquired practical experience through hands-on projects in web development and software application development, equipping
                                me with a robust foundation in software engineering.</li>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2022 - October 2023</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">KamiLimu</h3>
                            <div class="subheading mb-3">Mentee</div>
                            <li>Secured placement in KamiLimu, a highly selective mentorship program in Nairobi, Kenya, with an acceptance rate of 23%,
                                demonstrating exceptional potential and dedication to advancing skills and knowledge.</li>
                            <li>Successfully completed an eight-month mentorship program at KamiLimu, gaining valuable insights and experiences.</li>
                            <li>Demonstrated resilience by completing the first ever hybrid program, setting a positive example for future mentees.</li>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2020 - June 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Common Purpose</h3>
                            <div class="subheading mb-3">Open Source Leadership</div>
                            <li>Accepted into the Common Purpose's commonWealth100 program, a leadership initiative aimed at equipping the
                                next generation with 21st-century leadership skills. This experience has enhanced my leadership capabilities and
                                prepared me for future leadership roles.</li>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2020 - June 2020</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Technical Skills</h2>
                    <li><b>Programming Languages:</b> Python</li>
                    <li><b>Development Frameworks:</b> Flask, Django, FastAPI</li>
                    <li><b>Version Control:</b> Git, GitHub</li>
                    <li><b>Containerization:</b> Docker, Docker-Compose</li>
                    <li><b>Database Management Systems (DBMS):</b> MongoDB, Postgres, SQLAlchemy-ORM</li>
                    <li><b>APIs:</b> RESTful, Daraja API(Mpesa)</li>
                    <li><b>Backend as a Service (BaaS) Platform:</b> Supabase</li>
                    <li><b>Cloud Platform:</b> Render, Azure</li>
                    <hr />
                    <div class="subheading mb-3"><h3>PROJECTS</h3></div>
                    <ul class="fa-ul mb-0">
                        <div class="subheading mb-3">chamaZetu mvp 1</div>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            A comprehensive chama management platform allowing managers to create public and private chamas. Members can contribute
                            online, maintain records and join multiple chamas.
                            <a href="https://bit.ly/chamazetu">chamazetu.com</a>
                        </li>
                        <div class="subheading mb-3">portfolio website</div>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            A showcase of skills, creativity and accomplishments
                            <a href="https://amosnjoroge.onrender.com">amosnjoroge.com</a>
                        </li>
                        <div class="subheading mb-3">mpesaAlias</div>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            A Django application designed to enable mpesa users to transact anonymously
                            <a href="https://aliasmpesa.onrender.com">aliasmpesa.com</a>
                        </li>
                        <div class="subheading mb-3">resume-API</div>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            A FastAPI application that dynamically displays professional skills and experiences
                            <a href="https://njoroge-resumeapi.onrender.com">resumeapi.com</a>
                        </li>

                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'portfolio/js/resumescript.js' %}"></script>
    </body>
</html>
